* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // base 10
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 0.5rem;
  /* height: 7rem; */
  z-index: 1;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
  height: 5rem;
}

.header__left,
.header__right {
  width: 19%;
  justify-content: space-around;
}

.header__btn--speak,
.header__btn--create,
.header__btn--notify,
.header__btn--profile {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: relative;
}

.header__btn--speak img {
  height: 1.75rem;
}

.header__btn--create img {
  height: 2.25rem;
  margin-top: 0.25rem;
  margin-left: 0.15rem;
}

.header__btn--create::after {
  content: "+";
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.header__btn--notify img {
  margin-top: 0.25rem;
  height: 2.25rem;
}

.header__btn--speak:hover,
.header__btn--create:hover,
.header__btn--notify:hover,
.header__btn--search:hover {
  background-color: lightgray;
  opacity: 0.8;
}

/* Hamber menu container */

.menu-button-container {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
  left: 1rem;
}

.menu-button-container:hover {
  background-color: lightgray;
  opacity: 0.8;
}

#menu-toggle {
  display: none;
}

/* creating menu button */

.menu-button {
  display: block;
  background-color: black;
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  border-radius: 0.3rem;
}

.menu-button::before {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  top: -0.55rem;
  border-top: 1px solid black;
}

.menu-button::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  top: 0.55rem;
  border-top: 1px solid black;
}

/* header logo */

.header__logo {
  height: 3rem;
}

.header_left a {
  position: relative;
}

.header__left a::after {
  content: "CO";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.9rem;
  position: absolute;
  font-weight: 500;
}

.header__center {
  width: 70%;
  justify-content: center;
}

.header__search--input {
  height: 4rem;
  width: 58%;
  border-radius: 5rem 0 0 5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 0.5px solid lightslategray;
  opacity: 0.7;
  margin-left: 4rem;
  outline: none;
}

.header__search--input:focus {
  border: 1px solid navy;
}

.header__btn--search {
  height: 4rem;
  width: 6rem;
  border-radius: 0 5rem 5rem 0;
  margin-right: 1rem;
  border: 0.5px solid lightslategrey;
  border-left: none;
  background-color: #f8f8f8;
}

.header__btn--search:active {
  background-color: #f8f8f8;
}

.header__btn--search img {
  height: 2.25rem;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin-top: 3rem;
}

.main__title {
  align-self: flex-start;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.main__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.75rem 0;
}

.main__details__cta--left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main__details__cta--right {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.channel--logo {
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 5rem;
}

.channel {
  margin: 0 1.5rem 0 0.5rem;
}

.channel__name {
  color: rgba(0, 0, 0, 0.7);
}

.channel__subscribers {
  font-size: 1.25rem;
  padding-top: 0.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.channel__btn--subscribe,
.main__details__cta__btn--vote {
  height: 4rem;
  padding: 0 1.5rem;
  border-radius: 5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.main__details__cta__btn--vote {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

.main__details__cta__btn--vote:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.thumbs {
  height: 2rem;
}

.down {
  padding-left: 1.5rem;
  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
}

.share {
  height: 3rem;
}

.download {
  height: 2rem;
}

.channel__btn--subscribe {
  color: white;
  background-color: black;
  font-weight: 700;
  font-size: 1.4rem;
}

.main__details__description {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  height: 10rem;
  position: relative;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  line-height: 2rem;
}

.main__details__description::after {
  content: "Show more";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #eee;
  box-shadow: -20px 0px 15px #eee;
  margin-right: 2rem;
  color: rgba(0, 0, 0, 1);
  font-size: 1.4rem;
}

/* aside */

aside {
  padding: 0 2rem;
}
