* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // base 10
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0.5rem 0;
  /* height: 7rem; */
  z-index: 1;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
  height: 5rem;
}

.header__left,
.header__right {
  width: 18rem;
  justify-content: space-around;
}

.header__btn--speak,
.header__btn--create,
.header__btn--notify,
.header__btn--profile {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: relative;
}

.header__btn--speak img {
  height: 1.75rem;
}

.header__btn--create img {
  height: 2.25rem;
  margin-top: 0.25rem;
  margin-left: 0.15rem;
}

.header__btn--create::after {
  content: "+";
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.header__btn--notify img {
  margin-top: 0.25rem;
  height: 2.25rem;
}

.header__btn--speak:hover,
.header__btn--create:hover,
.header__btn--notify:hover,
.header__btn--search:hover {
  background-color: lightgray;
  opacity: 0.8;
}

/* Hamber menu container */

.menu-button-container {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5rem;
  left: 1rem;
}

.menu-button-container:hover {
  background-color: lightgray;
  opacity: 0.8;
}

#menu-toggle {
  display: none;
}

/* creating menu button */

.menu-button {
  display: block;
  background-color: black;
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  border-radius: 0.3rem;
}

.menu-button::before {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  top: -0.55rem;
  border-top: 1px solid black;
}

.menu-button::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  top: 0.55rem;
  border-top: 1px solid black;
}

/* header logo */

.header__logo {
  height: 3rem;
}

.header_left a {
  position: relative;
}

.header__left a::after {
  content: "CO";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.9rem;
  position: absolute;
  font-weight: 500;
}

.header__center {
  width: 70%;
  justify-content: center;
}

.header__search--input {
  height: 4rem;
  width: 58%;
  max-width: 60rem;
  border-radius: 5rem 0 0 5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: 0.5px solid lightslategray;
  opacity: 0.7;
  margin-left: 4rem;
  outline: none;
}

.header__search--input:focus {
  border: 1px solid navy;
}

.header__btn--search {
  height: 4rem;
  width: 6rem;
  border-radius: 0 5rem 5rem 0;
  margin-right: 1rem;
  border: 0.5px solid lightslategrey;
  border-left: none;
  background-color: #f8f8f8;
}

.header__btn--search:active {
  background-color: #f8f8f8;
}

.header__btn--search img {
  height: 2.25rem;
}

/* Main */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  max-width: 582px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.comments {
  max-width: 582px;
  /* position: absolute; */
  justify-self: flex-start;
}

@media screen and (min-width: 1000px) {
  .comments__bottom {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .main {
    max-width: none;
    padding: 0 2rem;
  }
  .comments__top {
    display: none;
  }
  .commnets__bottom {
    display: all;
  }
}

.main__title {
  align-self: flex-start;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.main__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.75rem 0;
  flex-wrap: wrap;
}

.main__details__cta--left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main__details__cta--right {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.channel--logo {
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 5rem;
}

.channel {
  margin: 0 1.5rem 0 0.5rem;
}

.channel__name {
  color: rgba(0, 0, 0, 0.7);
}

.channel__subscribers {
  font-size: 1.25rem;
  padding-top: 0.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.channel__btn--subscribe,
.main__details__cta__btn--vote {
  height: 4rem;
  padding: 0 1.5rem;
  border-radius: 5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.main__details__cta__btn--vote {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.5rem;
}

.main__details__cta__btn--vote:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.thumbs {
  height: 2rem;
}

.down {
  padding-left: 1.5rem;
  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
}

.share {
  height: 3rem;
}

.download {
  height: 2rem;
}

.channel__btn--subscribe {
  color: white;
  background-color: black;
  font-weight: 700;
  font-size: 1.4rem;
}

.main__details__description {
  background-color: #eee;
  padding: 1rem 1rem 2.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  position: relative;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;

  /* limit number of lines */
  --max-lines: 4.7;
  --line-height: 1.4;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  overflow: hidden;
  position: relative;
  /* limit text with elipses
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines); */
}

.main__details__description:has(+ .expand-btn:not(:checked))::before {
  /* fade out last text */
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 13rem;
  bottom: 0;
  right: 0;
  pointer-events: none;
  background: linear-gradient(to right, transparent, #eee, #eee, #eee);
}

.expand-btn {
  appearance: none;
  position: relative;
  top: -2rem;
}

.expand-btn:hover {
  cursor: pointer;
}

.expand-btn::before {
  content: "Show more";
  position: absolute;
  width: 7rem;
  bottom: 0.5rem;
  right: -25.5rem;
  text-align: center;
}

.expand-btn:checked::before {
  content: "Show less";
  left: -26.5rem;
}

.main__details__description:has(+ .expand-btn:checked) {
  max-height: none;
}

/* aside */

aside {
  padding: 0 2rem;
  max-width: 40.2rem;
  margin-left: 1rem;
}

@media screen and (max-width: 999px) {
  .main__details__description {
    margin-bottom: 0;
  }

  aside {
    max-width: none;
    border: 1px solid red;
    width: 100%;
    margin: 0 2rem;
    padding: 0;
  }
  .advert {
    margin: -1rem;
    border: 1px solid blue;
  }
}

/* Adverts */

.advert {
  max-width: 40.2rem;
  width: 50rem;
  border-radius: 1rem 1rem 0 0;
  margin: 1.5rem 0 3rem 0;
}

.advert__top {
  display: flex;
  max-height: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  position: relative;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  text-shadow: 0.1rem 0.1rem 0.1rem white;
  z-index: -3;
}

.advert__top h3 {
  font-style: italic;
  font-size: 3rem;
}

.advert__top h2 {
  font-size: 4rem;
  line-height: 3.5rem;
}

.advert__top__btn {
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 2rem;
  right: 2rem;
  border-radius: 5rem;
  border: none;
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: white;
}

.advert__top__btn::after {
  content: "";
  height: 4rem;
  width: 4rem;
  background-color: white;
  position: absolute;
  top: -1rem;
  right: -1rem;
  z-index: -1;
  border-radius: 5rem;
}

.advert__bottom {
  display: flex;
  border-left: 0.5px solid rgba(0, 0, 0, 0.2);
  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  padding: 2rem 1.5rem 0 1.5rem;
}

.advert__channel {
  display: flex;
  width: 70%;
  gap: 0.5rem;
}

.channel__sub {
  display: flex;
  font-size: 1.2rem;
  width: 110%;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 2.5rem;
}

.channel__btn--learn {
  background-color: royalblue;
}

.dot {
  transform: translateY(-0.3rem);
}

/* more videos */

/* menu */

.more-videos__btn {
  font-size: 1.4rem;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.9rem;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 0.5rem;
}
.more-videos__btn-all {
  color: white;
  background-color: black;
}

/* thumbnails */

.thumbnails {
  margin-top: 2rem;
}
