* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // base 10
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 8rem;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
  height: 5rem;
}

.header__left,
.header__right {
  width: 19%;
  justify-content: space-around;
  /* gap: 0.5rem; */
  /* padding-right: 2rem; */
}

.header__btn--speak,
.header__btn--create,
.header__btn--notify,
.header__btn--profile {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: white;
}

.header__btn--speak:hover,
.header__btn--create:hover,
.header__btn--notify:hover {
  background-color: lightgray;
  opacity: 0.8;
}

/* Hamber menu container */

.menu-button-container {
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid black; */
  border-radius: 5rem;
  left: 1rem;
}

.menu-button-container:hover {
  background-color: lightgray;
  opacity: 0.8;
}

#menu-toggle {
  display: none;
}

/* creating menu button */

.menu-button {
  display: block;
  background-color: black;
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  border-radius: 0.3rem;
}

.menu-button::before {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  top: -0.55rem;
  border-top: 1px solid black;
}

.menu-button::after {
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 1.75rem;
  top: 0.55rem;
  border-top: 1px solid black;
}

/* header logo */

.header__logo {
  height: 3rem;
}

.header_left a {
  position: relative;
}

.header__left a::after {
  content: "CO";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.9rem;
  position: absolute;
  font-weight: 500;
}

.header__center {
  width: 70%;
  justify-content: center;
}

.header__search--input {
  color: lightslategray;
  height: 4rem;
  width: 58%;
  border-radius: 5rem 0 0 5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0.5px solid lightslategray;
  border-right: none;
  opacity: 0.7;
  margin-left: 4rem;
}

.header__btn--search {
  height: 4rem;
  width: 6rem;
  border-radius: 0 5rem 5rem 0;
  margin-right: 1rem;
  border: 0.5px solid lightslategrey;
  background-color: #f8f8f8;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.main__title {
  align-self: flex-start;
  margin-top: 2rem;
}

.main__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.main__details__cta--left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.channel--logo {
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
}

.channel__subscribers {
  font-size: 1.3rem;
  padding-top: 0.3rem;
}

.channel__btn--subscribe,
.main__details__cta__btn--vote {
  height: 4rem;
  padding: 0 2rem;
  border-radius: 5rem;
  border: none;
}

/* .main__details__cta__btn--vote {
} */

.main__details__description {
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  height: 7rem;
  position: relative;
  margin-bottom: 2rem;
}

.main__details__description::after {
  content: "Show more";
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: lightgray;
  box-shadow: -20px 0px 12px lightgray;
}

/* aside */

aside {
  padding: 0 2rem;
}
